[MESSAGES CONTROL]
# C0114: Missing module docstring
# C0303: Trailing whitespace
# C0116: Missing function or method docstring
# C0103: Snake casing
# C0301: Long lines
# R0801: Similar lines
disable=C0114,C0303,C0116,C0103,C0301,R0801

